*{box-sizing: border-box;}

/* Header style*/
header{
    display:flex;
    background-color: rgba(196, 196, 196, 0.3);
}

.fa-bars{
    font-size: 30px;
    margin: 20px 0 0 20px;
    color:white;
    stroke: black;
    stroke-width: 1px;
}

span{
    flex-grow: 1;
}

a{
    text-decoration: none;
    color:black;
}

.button{
    text-align: center;
    padding: 16px 40px;
    border: 1px solid black;
    background-color:#C4C4C4;
    color:black;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/*Main Style*/
body{
    background-color: #617C5F;
    margin:0;
}

main{
    margin-top: 10%;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-credit{
    background-color:black; 
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px;
}

h1, h2{
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

h2{
    font-size: 48px;
}

p{
    color: white;
    text-align: center;
    background-color: rgba(196, 196, 196, 0.3);
    line-height: 33px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

/*Footer style*/
footer{
    background-color: rgba(196, 196, 196, 0.3);
    margin-top: 2em;
}

.copyright{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    background-color: transparent;
}

.footer-buttons{
    display:flex;
    justify-content: center;
}

.footer-buttons .button{
    flex-basis: 34%;
    text-align: center;
}