/* General Style*/

*{box-sizing: border-box;}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #617C5F;
    margin:0;
}

a{
    text-decoration: none;
    color:black;
}

.button{
    text-align: center;
    padding: 16px 40px;
    border: 1px solid black;
    background-color:#C4C4C4;
    color:black;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.quick-links{
    position: absolute;
    top: -2000px;
}


/* Header style*/
.container{
    display:flex;
    flex-wrap: wrap;
    background-color: rgba(196, 196, 196, 0.3);
}

    /*Menu Button*/
.fa-bars{
    font-size: 30px;
    margin: 20px 0 0 20px;
    color:white;
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
}

span{
    flex-grow: 1;
}


.navbar{
    display:none;
}


input[type=checkbox]{
    position: absolute;
    top: -9999px;
    left: -9999px;
}

input[type=checkbox]#menu-toggle:checked~.navbar{
    display:flex;
    flex-direction: column;
    position: absolute;
    top:50px;
    left:0;
    background-color: #556F44;
    height: 100vh;

    animation-duration: 2s;
    animation-name: slidein;
    animation-fill-mode: both;

    /*Couldnt figure out the animation for the side
    menu to go back to being hidden*/
}


.navbar .button{
    margin:10px;
}



/*Main Style*/



.description{
    margin: 36px 17px;
}

#sign-up-button{
    margin: 0px 33%;
    padding: 10px 0;
}

main{
    margin-top: 10%;
}

.img, .icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}
.icon{ 
    padding-top: 20px;
    width:auto;
}

h1, h2, h3{
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}
h1{
    flex-basis: 100%;
}

h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}

p{
    margin: 0 1em;
    color: white;
    text-align: left;
    background-color: rgba(196, 196, 196, 0.3);
    line-height: 33px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.row{
    display: flex;
    flex-direction: column;
}

.col{
    flex-basis: 50%;
}

/*Footer style*/
footer{
    background-color: rgba(196, 196, 196, 0.3);
    margin-top: 2em;
}

.copyright{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    background-color: transparent;
}

.footer-buttons{
    display:flex;
    justify-content: center;
}

.footer-buttons .button{
    flex-basis: 34%;
    text-align: center;
}

@media (min-width:768px){
    
    /*Header Style*/

    header{
        background-image: url("../img/jake-melara-30681-unsplash-bg-lg.jpg");
        background-size: 100vw auto;
        background-repeat: no-repeat;
        background-attachment: scroll;
        height: calc(100vw / 1.5);
    }

    .container{
        background-color: transparent;
        margin-bottom: 2em;
    }

    input[type=checkbox]#menu-toggle:checked~.navbar{
        height: calc(100vw / 1.5 - 50px);
    }
    
    h1{
        flex-basis: 100%;
    }

    
    /*Main Style*/

    main{
        margin: 0 auto;
    }
    /*Footer Style*/

    footer{
        flex-basis: 100vw;
    }
    
}

@media (min-width: 992px){
    .row{
        flex-direction: row;
    }
    h1{
        font-size:6em;
    }
    .img{
        width: 40vw;
    }
}

@keyframes slidein{
    from {
        position: absolute;
        left:-300px
      }
    
      to {
          position: absolute;
          left: 0;
    }
}